/* Buttons */

button {
  font-size: 20px;
  padding: 5px 0;
  width: 200px;
  transition: 0.5s;
  border: none;
  background-color: #4643430f;
}

button.brawl:hover {
  background-color: #cd774c;
}

button.dota:hover {
  background-color: #000000;
  color: #fff;
}

button.league:hover {
  background-color: #254456;
  color: #fff;
}

button.hots:hover {
  background-color: #4baee6;
  color: #fff;
}

button.apex:hover {
  background-color: #000000;
  color: #fff;
}
